[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-limiter = "*"
flask-marshmallow = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
python-dotenv = "*"
marshmallow = "*"
flask = ">=2.2.0"
werkzeug = "<2.2"

[dev-packages]

[requires]
python_version = "3.12.3"
